*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: rgb(54, 48, 48);
}
.container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 20%;
    background-color: #fff;
    border-radius: 10px;
}
label{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}
input{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(92, 92, 207) ;
    outline: 0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 15px;
}
.btn{
    width: 100%;
    height: 50px;
    background: rgb(82, 82, 207);
    border: 0;
    outline: 0;
    color: beige;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin: 15px 0;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
}
#qrContainer{
    width: 250px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
}
#qrContainer img{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #7e7e7e;
}
#qrContainer.img-show{
    border: 1px solid #d1d1d1;
}
a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 0;
}
a.download-active{
    max-height: 60px;
}
